{{#partial "content"}}

    <h1 class="animated infinite jackInTheBox delay-2s">Congratulations</h1>

    You have Added an Engineer

    <a href="/Engineer"> View Other Engineers </a>



<!--<div>-->
<!--    <div style="padding: 2rem; margin: 1rem;" class="card text-center">-->
<!--        <br><br>-->
<!--        <h2 style="color:#0fad00">Success</h2>-->
<!--        <i style="color:#0fad00" class="fas fa-check fa-5x"></i>-->
<!--        <p style="font-size:20px;color:#5C5C5C;">Engineer Successfully Added</p>-->
<!--        <div>-->
<!--            <a href="/Engineer" class="btn btn-success">ALL ENGINEERS</a>-->
<!--        </div>-->
<!--        <br><br>-->
<!--    </div>-->

<!--</div>-->
{{/partial}}

{{> layout.hbs}}
